{% extends "base.html" %}

{% block title %}Audiobook server{% endblock %}

{% block head %}
    <style>
        #playlist{
            list-style: none;
        }
        #playlist li a{
            color:black;
            text-decoration: none;
        }
        #playlist .current-song a{
            color:blue;
        }
    </style>
{% endblock %}

{% block content %}
    <p><a href="/">Home</a></p>
    <audio src="" controls id="audioPlayer">
        Sorry, your browser doesn't support html5!
    </audio>
    <ul id="playlist">
        {% for url in url_list %}
        {% if forloop.first %}<li class="current-song">{% else %}<li>{%endif %}
            <a href="{{ url }}"> {{ forloop.counter }} </a>
        </li>
        {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    {% load static %}
    <script src="{% static "css/../static/js/audioPlayer.js" %}"></script>
    <script>
        // loads the audio player
        audioPlayer();
    </script>

{% endblock %}

