{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "uploads" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.torrentfile.label_tag }}</p>

            <p>
                {{ form.torrentfile.errors }}
                {{ form.torrentfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
{% endblock %}